<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <title>Tiny Twitt Home</title>
  </head>

  <body>
    <h1>Welcome To TINY TWIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIT !</h1>
  
    <table>
      <tr>
        <td colspan="2" style="font-weight:bold;">Available Servlets:</td>        
      </tr>
      <tr>
        <td><a href='/hello'>The servlet Hello</a></td>
        <td><a href='/test'>The servlet test</a></td>
      </tr>
    </table>

    <!-- Button for creating a new account -->
    <form novalidate ng-submit="inscription()" style="border: 1px blue solid; padding: 5px" ng-hide="log">
      <div class="form-group">
        <label>Utilisateur: <input type="text" placeholder="User" class="form-control" ng-model="userlogin"></label>
        <label>Mail: <input  type="text" placeholder="Email" class="form-control" ng-model="usermail"></label>
        <label>Mdp: <input type="password" placeholder="Password" class="form-control" ng-model="userpw"></label>
        <label>Prenom: <input type="text" placeholder="First name" class="form-control" ng-model="userfirstname"></label>
        <label>Nom: <input type="text" placeholder="Last name" class="form-control" ng-model="userlastname"></label>
      </div>
      <button type="submit" class="btn btn-default">S'inscrire</button>
    </form>

    <script>
        var init = function() {
            console.log("init called");
            window.init();
        };
    </script>

    <script src="https://apis.google.com/js/client.js?onload=init"></script>

  </body>
</html>